@import url(reset.css);
@import url('https://fonts.googleapis.com/css2?family=ADLaM+Display&display=swap');

body {
    font-family: 'ADLaM Display', cursive;
    /*#5e5373*/
    /*background-color: #5e5373;*/
    background-color: #fff;
    color: black;
}

header {
    height: 50px;
    background: #4fb6a5;
    color: white;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: underline;
    text-transform: uppercase;
}

.winter {
    width: 320px;
    background: #ece89d;
    display: flex;
    justify-content: center;
    padding: 64px 48px;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    /*justify-content: center;*/
}

.img {
    height: auto;
    width: 300px;
}

button {
    background: #4fb6a5;
}

button:hover {
    cursor: progress;
}


/*.slider-container {*/
/*    position: relative;*/
/*    max-width: 100%;*/
/*    overflow: hidden;*/
/*}*/

/*.slider {*/
/*    display: flex;*/
/*    transition: transform 0.3s ease-in-out;*/
/*}*/

/*.slider img {*/
/*    width: 500px;*/
/*    height: auto;*/
/*}*/

/*.controls {*/
/*    position: absolute;*/
/*    bottom: 20px;*/
/*    left: 50%;*/
/*    transform: translateX(-50%);*/
/*}*/

/*.controls button {*/
/*    font-size: 24px;*/
/*    background: transparent;*/
/*    border: none;*/
/*    cursor: pointer;*/
/*    padding: 5px 10px;*/
/*}*/

